<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= config.company_name + " - " + current_page.data.title %></title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';<%= config.meta_csp_settings %>">
    <base href="<%= config.host %>">
    <%= partial "bricks/meta_geo_position" %>
    <meta name="description" content="<%= current_page.data.description %>">
    <meta name="abstract" content="<%= current_page.data.abstract %>">
    <meta name="robots" content="<%= robots() %>">
    <%= partial "bricks/meta_open_graph" %>
    <%= partial "bricks/meta_favicon" %>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto+Condensed:700" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= partial "bricks/header/header" %>
    <%= yield %>
  </body>
  <%= javascript_include_tag "site" %>
</html>
