<header>
  <nav class="container">
    <% link_to "/", :class => "logo" do %>
      <%= image_tag "legobox-logo.svg", :alt => config.company_name %>
      <div class="company-name">Legobox</div>
    <% end %>
    <ul>
      <li><%= link_to "Products", "/products" %></li>
      <li><%= link_to "Cases", "/cases" %></li>
      <li><%= link_to "Team", "/team" %></li>
      <li><%= link_to "About", "/about" %></li>
      <li><%= link_to "News", "/news" %></li>
      <li><%= link_to "Blog", "/blog" %></li>
      <li><%= link_to "Contact", "/contact" %></li>
    </ul>
  </nav>
  <button id="navToggleButton">
    <div class="bar"></div>
  </button>
</header>
